<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Vier Schritte zum Ziel</h2>
                    <h3 class="section-subheading text-muted">Basteln, Installieren, Zusammensetzen und Staunen.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Basteln</h4>
                                    <h4 class="subheading">Am Anfang steht die Faltarbeit</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Es sieht einfacher aus als es ist. Nein, stimmt nicht. Es ist schnell zusammengabaut, wir haben gleich zwei verschiedene Anleitungen vorbereitet. Einfach unter <strong>Aufbau</strong> die vielversprechendere auswählen.  </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Installieren</h4>
                                    <h4 class="subheading">Apps für jeden Geschmack</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Ok, das Stichwort ist hier <strong>Cardboard</strong>. Damit findet sich in jedem App Store mittlerweile eine ganze Armada an wirklich guten Apps. Ob virtuelle Achterbahn, Gruselkino oder einfach eine wirklich beeindruckende Street View. Wir haben unter <strong>Apps</strong> mal ein paar gute Beispiele zusammengestellt.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Zusammensetzen</h4>
                                    <h4 class="subheading">HoloFellow und ihr Smartphone</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Das Smartphone passt sich schnell in seine neue Umgebung ein und sollte stabil sitzen. Achtung: Unbedingt gut sichern oder festhalten, ein schneller Ruck im Looping der Achterbahn und das teure Stück macht sich selbstständig.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Staunen</h4>
                                    <h4 class="subheading">3D Erlebniskino</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Jetzt gibt es nichts mehr zu sagen, nur noch zu sehen. Wählen Sie mit dem Magnetknopf die spannendste Umgebung aus und erleben Sie 3D hautnah.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Viel
                                    <br>Spass!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
