<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Apps</h2>
                    <h3 class="section-subheading text-muted">Let the fun begin.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-apple fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">iPhone Apps</h4>
                    <p class="text-muted"><a href="https://itunes.apple.com/us/app/google-cardboard/id987962261">Google Cardboard</a></p>
                    <p class="text-muted"><a href="https://itunes.apple.com/app/tuscany-beenoculus/id935275931">Tuscany - Beenoculus</a></p>
                    <p class="text-muted"><a href="https://itunes.apple.com/app/crazy-swing-vr/id935702116">Crazy Swing VR </a></p>
                    <p class="text-muted"><a href="https://itunes.apple.com/app/sisters-virtual-reality-ghost/id957212695">Sisters: A Virtual Reality Ghost Story</a></p>
                    <p class="text-muted"><a href="https://itunes.apple.com/de/app/inmind-vr-cardboard/id971720127?mt=8">InMind VR</a></p>
                    <p class="text-muted"><a href="https://itunes.apple.com/us/app/nyt-vr/id1028562337?mt=8">NY Times VR</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-android fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Android Apps</h4>
                    <p class="text-muted"><a href="https://play.google.com/store/apps/details?id=com.google.samples.apps.cardboarddemo">Google Cardboard</a></p>
                    <p class="text-muted"><a href="https://play.google.com/store/apps/details?id=com.frag.vrrollercoaster">Roller Coaster VR </a></p>
                    <p class="text-muted"><a href="https://play.google.com/store/apps/details?id=com.FabulousPixel.TuscanyDive">Tuscany Dive</a></p>
                    <p class="text-muted"><a href="https://play.google.com/store/apps/details?id=com.Nuworks.DarkWalls">Dark Walls VR</a></p>
                    <p class="text-muted"><a href="https://play.google.com/store/apps/details?id=com.fibrum.crazyswingvr">VR Swing</a></p>
                    <p class="text-muted"><a href="https://play.google.com/store/apps/details?id=com.google.fpl.zooshi">Zooshi</a></p>
                    <p class="text-muted"><a href="https://play.google.com/store/apps/details?id=com.im360nytvr">NY Times VR</a></p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-windows fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Windows Phone Apps</h4>
                    <p class="text-muted"><a href="https://www.microsoft.com/de-de/store/apps/crazy-swing-vr/9nblggh3rsrc">Crazy Swing VR </a></p>
                    <p class="text-muted"><a href="https://www.microsoft.com/de-de/store/apps/inmind-vr/9nblgggxzkw9">InMind VR</a></p>
                    <p class="text-muted"><a href="https://www.microsoft.com/de-de/store/games/track-speed-racing-vr/9nblggh1xw78">Track Speed Racing VR</a></p>
                </div>
            </div>
        </div>
    </section>
